<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yeltzland</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${SHARED_VERSION_NUMBER}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bravelocation.yeltzland</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yeltzland</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechromes</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>We want to show where you are on the map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We want to show where you are on the map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We want to show where you are on the map</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The app would like to save photos to your library</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>LatestScoreIntent</string>
		<string>NextGameIntent</string>
		<string>com.bravelocation.yeltzland.currenttab</string>
		<string>com.bravelocation.yeltzland.fixtures</string>
		<string>com.bravelocation.yeltzland.latestscore</string>
		<string>com.bravelocation.yeltzland.navigation</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>forum</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Yeltz Forum</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bravelocation.yeltzland.forum</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>official</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Official Site</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bravelocation.yeltzland.official</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>yeltztv</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Yeltz TV</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bravelocation.yeltzland.yeltztv</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>twitter</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Twitter</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bravelocation.yeltzland.twitter</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bravelocation.yeltzland.backgroundRefresh</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.sports</string>
</dict>
</plist>
